.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing-md);
    padding-left: var(--spacing-md);
}

.sm {
    max-width: 640px;
}

.md {
    max-width: 768px;
}

.lg {
    max-width: 1024px;
}

.xl {
    max-width: 1280px;
}